body {
    background-color: #fffff0;
    font-size: 1.1em;
}

.cartoonDiv {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}

/* Button Styles */

.cartoon-btn,
#addCartoon {
    margin: 0.3em;
    border-radius: 0.5em;
    border: none;
    background-color: #23fff4;
    box-shadow: 0.3em 0.2em 0.2em #1bbbb3;
}

.cartoon-btn:hover,
#addCartoon:hover {
    cursor: pointer;
    background-color: #1bbbb3;
    box-shadow: 0.3em 0.2em 0.2em #179b94;
}

.cartoon-btn:active,
#addCartoon:active {
    background-color: #127a75;
}

.cartoon-btn:focus {
    outline: 0;
}

.download-button {
    margin-left: 0.4em;
    text-transform: capitalize;
    background-color: #23fff4;
    color: black;
    box-shadow: 0.3em 0.2em 0.2em #1bbbb3;
    border-radius: 0.5em;
    padding: 0 0.2em;
}

.download-button:hover {
    text-decoration: none;
    background-color: #1bbbb3;
    box-shadow: 0.3em 0.2em 0.2em #179b94;
    color: black;
}

.download-button:active {
    background-color: #127a75;
}

/* Favorite Icon */

.favorite {
    display: inline-block;
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    z-index: 1;
    color: #f00;
    animation: colorchange 0.9s infinite;
}

@keyframes colorchange {
    10% {color: #f00;}
    100% {color: #8b0000;}
}

.favorite:hover {
    cursor: pointer;
}