body {
    background-color: #fffff0;
    font-size: 1.1em;
}

.cartoonDiv {
    display: inline-block;
    text-transform: uppercase;
}

.cartoon-btn,
#addCartoon {
    margin: 0.3em;
    border-radius: 0.5em;
    border: none;
    background-color: #23fff4;
    box-shadow: 0.3em 0.2em 0.2em #1bbbb3;
}

.cartoon-btn:hover,
#addCartoon:hover {
    cursor: pointer;
    background-color: #1bbbb3;
    box-shadow: 0.3em 0.2em 0.2em #179b94;
}

.cartoon-btn:active,
#addCartoon:active {
    background-color: #127a75;
}

.cartoon-btn:focus {
    outline: 0;
}

.download-button {
    margin-left: 0.4em;
    text-transform: capitalize;
    background-color: #23fff4;
    color: black;
    box-shadow: 0.3em 0.2em 0.2em #1bbbb3;
    border-radius: 0.5em;
    padding: 0 0.2em;
}

.download-button:hover {
    text-decoration: none;
    background-color: #1bbbb3;
    box-shadow: 0.3em 0.2em 0.2em #179b94;
    color: black;
}

.download-button:active {
    background-color: #127a75;
}